* {
    margin:0;
    padding:0;
}

.navbar {
    background-color: blue;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    height:40px;
    
}

.navitem {
    font-weight:800;
    vertical-align: middle;
    text-align: center;
    color:white;
    text-decoration: none;
    padding-right:15px;
    padding-left:15px;
    transition: transform .4s;
    display: inline-block;
    border-radius: 5px;

    
}

.navitem:hover {
    background-color: rgb(250, 250, 250);
    color:black;
    transform:scale(1.2)

}

.heading {
    background-color: bisque;
}