* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif
}

.nav {
    background-color: rgb(217, 190, 169);
    height:150px;
    width:100%;
    box-sizing:border-box;
}

.center {
    background-color: rgb(218, 119, 119);
    height:575px;
    width:100%;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: rgb(217, 190, 169);
    height:150px;
    width:100%;
    box-sizing:border-box;
    
}

.form-box {
    width: 50%;
    height: 80%;
    border:2px solid #000;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);

}

.form-grid {
    width: 90%;
    height:80%;
    margin:auto;
    display: grid;
    place-items: center;
    row-gap: 0px;
    column-gap: 0px;
    /* background-color: aqua; */
}

#username, #password {
    width: 60%;
    height:50px;
    border-radius: 20px;;

}

#login {
    width:200px;
    height:50px;
    border-radius:60px;
    font-size:x-large;
}

#username, p{
    text-align:center;
    font-size:large;
}

#password, p{
    text-align:center;
    font-size:large;
}