.h1,.item {
    text-align: center;
    vertical-align: middle;
    color:white
}

.nav{
    background-color: rgb(26, 8, 8);
    height:175px;
}

.body {
    vertical-align: middle;
    height:175px;
    padding:20px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 35px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 325px;
    background-color: white;
}
.down {
    color:white;
    background-color: rgb(26, 8, 8);
    height: 55px;
    text-align:center;
    
}
* {
    margin:0px;
    border:0px;
}

body {
    background-color: rgb(209, 209, 193);
}